<ion-header>
  <ion-toolbar>
    <ion-title>Order and Delivery System For Water Refilling Station</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background:url('assets/back.jpg') 0 0/100% 100% no-repeat;">
<ion-card>
  <ion-card-header>
  <center>
    <ion-card-title> <img src="assets/logo.png" width="10%" style="vertical-align:middle"> Select what you want to do</ion-card-title>
	</center>
  </ion-card-header>

  <ion-card-content style="padding:20px;height:100%">
  <div style="width:50%;float:left">
  <center>
  <a href="product">
    <img src="assets/list.png" style="width:70%"><br>
	Product List
	</a>
	</center>
	</div>
<div style="width:50%;float:left">
  <center>
  <a href="cart">
    <img src="assets/cart.png" style="width:75%"><br>
	Cart
	</a>
	</center>
	</div>
  <div style="width:50%;float:left">
  <center>
  
  <a href="feedback">
    <img src="assets/feedback.png" style="width:70%"><br>
	Feedback
	</a>
	</center>
	</div>
<div style="width:50%;float:left" href="login">
  <center>
  <a href="login">
    <img src="assets/logout.png" style="width:70%" href="login"><br>
	Logout
	</a>
	</center>
	</div>
	<br clear="all">
	<br clear="all">
	<br clear="all">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br clear="all">
  </ion-card-content>
</ion-card>

</ion-content>
