<ion-header>
  <ion-toolbar>
<ion-title>Order and Delivery System For Water Refilling Station</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background:url('assets/back.jpg') 0 0/100% 100% no-repeat;">
<ion-card>
  <ion-card-header>
    <ion-card-title>Send Feedback</ion-card-title>
  </ion-card-header>

  <ion-card-content>
  <center>
  <style>
  
.myButton {
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#2FDF75;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
}
.myButton:active {
	position:relative;
	top:1px;
}

  </style>
  <div id="write" style="color:#FFF;font-size:21px"></div>
  <br>
  <br>
   <ion-item>
  <textarea style="width:100%;height:200px" id="feed"></textarea>

  </ion-item>
	 <ion-item>
	 <input type="button" class="myButton" value="Send Feedback" onclick="localStorage.setItem('feedback', document.getElementById('feed').value);alert('Feedback has been added'); document.getElementById('feed').value='';document.getElementById('write').innerHTML = window.localStorage.getItem('feedback');">
	</ion-item>
 <ion-item>
	 <input type="button" class="myButton" value="Show Feedback" onclick="document.getElementById('write').innerHTML = window.localStorage.getItem('feedback');">
</ion-item>
<ion-item>
  <ion-button color="success" href="main">Back to Main Menu</ion-button>
	</ion-item>
	
   
</center>
  </ion-card-content>
</ion-card>
</ion-content>

  <script>
  function acc() {
  
  alert();
  }
  window.onload = function() {
alert();
};
	 </script>